@charset "UTF-8";
/* CSS Document */
/*reset*/
html {background: #fff none repeat scroll 0 0;color: #515151; }

body, div, td {
  font-size: 12px;
  font-family: "微软雅黑", Arial, Helvetica, sans-serif;
  line-height: 1.4em; }

body, div, ul, ol, li, h1, h2, h3, h4, h5, h6, form, fieldset, legend, input, textarea, p, th, td, dl, dt, dd {
  margin: 0;
  padding: 0; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

img {
  border: none; }

address, caption, cite, code, dfn, em, th, var {
  font-style: normal;
  font-weight: normal; }

ul li {
  list-style-image: none;
  list-style-position: outside;
  list-style-type: none; }

caption, th {
  text-align: left; }

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  zoom: 1; }

input, textarea, select, button {
  font-family: "微软雅黑";
  font-size: 12px;
  font-weight: inherit;
  vertical-align: middle; }

input[type=radio], input[type=checkbox] {
  vertical-align: middle; }

input {
  outline: none; }

/*base*/
.floatleft {
  float: left; }

.floatright {
  float: right; }

.aligncenter {
  text-align: center; }

.alignright {
  text-align: right; }

.alignleft {
  text-align: left; }

.block {
  display: block; }

.forcewrap {
  word-wrap: break-word;
  word-break: break-all;
  text-overflow: hidden;
  overflow: hidden; }

.borderless {
  border: none; }

/*clear*/
.clear {
  clear: both;
  line-height: 0;
  height: 0;
  font-size: 0; }

.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.clearfix {
  zoom: 1; }

a {
  text-decoration: none;
  color: #515151; }

a:hover {
  color: #515151; }

.hide {
  display: none; }
  
.header{ width:1000px; margin:0 auto;}
.header img, .header span{ margin:10px 0; float:left;}
.header span{ line-height:70px; font-size:18px; padding-left:3px; font-family:"微软雅黑";}
.footer{ width:1000px; margin:0 auto; padding-top:20px;}
.footer span, .footer p{ line-height:26px; margin:0 auto; text-align:center;}
.footer span{ display:block; color:#176246;}
.footer span a.footerlink{ color:#176246;}
.footer span a.footerlink:hover{ text-decoration:underline;}
.footer p{ line-height:26px;}


.window{width:350px;border:3px solid #e6e6e6;position:absolute;margin-left:-150px;margin-top:-150px;top:50%;left:50%;background:#fff;}
.window .content{padding:20px 12px 12px 12px;text-align:center;line-height:24px;font-size:14px;}
.window .titlehead{background-color:#f5f5f5;height:31px;line-height:31px;border:0 none;}
.window h3{width:150px;float:left;margin:0px;padding:0px 0px 0px 16px;font-size:14px;color:#565656;font-family:微软雅黑;}
.window h3 img{border:0px;padding:0px;margin:0px;}
input.submit1{font-size:12px;background-color:#6c9c0a;color:#fff;border:none;margin:0px 0px 0px 0px;padding:0px 4px 0px 4px;height:22px;line-height:22px;cursor:pointer;vertical-align:middle;vertical-align:baseline\9;}input.submit1:hover{background:url(../images/productinfo.png) repeat-x 0 -124px;}

.footer  a.footerlink1{ color:#666; text-decoration:none;}
.footer a.footerlink1:hover{ text-decoration:underline;}